@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

header {
  padding: 20px 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

nav img {
  cursor: pointer;
}

.headline {
  background-image: url("./img/Header-llustration-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}

.headline-content {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}

.headline-content p {
  color: #172b4d;
  font-size: 20px;
}

.green {
  color: #36b37e;
}

.social-media ul {
  display: flex;
  flex-direction: row;
}

.social-media li {
  display: inline-block;
  margin-right: 15px;
}
